#titulo {
    color: rgb(250, 126, 147);
    text-align: center;
}

#fundo {
    margin-left: 12%;
    margin-right: 12%;
    padding-left: 8%;
    margin-top: 60px;
    background-color: rgb(218, 211, 211);
    padding-bottom: 25px;
    padding-top: 25px;
}

#corFundo {
    background-color: violet;
}

.quebraDeLinha {
    display: block;
    text-transform: uppercase;
}

#F1 {
    background-color: rgb(221, 48, 155);
}

.PFeR1 {
    background-color: rgb(238, 143, 195);
    height: 150px;
    width: 150px;
    display: block;
    margin-top: 5px;
    padding-top: 40px;
    padding-left: 30px;
    color: white;
}

#dado {
    background-color: black;
    color: white;
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-left: 70px;
    font-size: 30px;
}

#F2 {
    background-color: rgb(65, 75, 226);
}

.PFeR2 {
    background-color: rgb(141, 147, 241);
    height: 150px;
    width: 150px;
    display: block;
    margin-top: 5px;
    color: white;
    padding-top: 40px;
    padding-left: 30px;
}

.teste {
    display: block;
    padding-left: 35px;
    padding-top: 15px;
    font-size: 30px;
}